* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #ddd;
}

main,
form {
    display: flex;
    flex-wrap: wrap;
}

main {
    width: 600px;
    margin: 10px auto;
    padding: 10px;
    justify-content: center;
}

form {
    justify-content: space-evenly;
    align-items: center;
}

input {
    height: 24px;
    background-color: #eee;
}

button {
    width: 270px;
    margin: 10px 155px;
    padding: 14px 22px;
    display: inline-block;
    border: none;
    background-color: #eee;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #04AA6D;
    color: white;
}